body{
    background-color: rgb(205, 197, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#filter-bar{
    
    top: 0px;
    margin-top: 5rem;
    min-width: 50%;
    min-height: 2.5rem;
    border-radius: 10px;
    background-color: whitesmoke;
   
}
.templates{
    margin-top: 2rem;
    min-height: 100vh;
    min-width: 50%;
}
.template{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 7px;
    line-height: 1px;
    border: 1px solid grey;
    box-shadow: 0px 0px 5px white;
    justify-content: space-between;
    padding: 4px;
}

.h1{
    background-color: rgb(205, 197, 41);;
}