body {
  background-image: linear-gradient(45deg, rgb(7, 30, 62), rgb(60, 93, 151));
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#video-player {
  display: flex;
  border: 8px solid white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  overflow: hidden;
  background-color: black;
}
#controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 3.1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translateY(100%);
  transition: ease-in-out 0.5s;
  background-color: silver;
  opacity: 60%;
  flex-direction: column;
}
#video-player:hover #controls {
  transform: translateY(0%);
  opacity: 90%;
}
#play-button {
  height: 2.5rem;
  width: 2.7rem;

  border-radius: 8px;
}
.progress {
  margin-top: 5px;
  width: 94%;
  height: 1px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  transition: ease-in 0.3s;
}
.progress:hover {
  height: 7px;
}
#progress-filled {
  height: 100%;
  width: 50%;

  background-color: aqua;
  /* flex-basis: 50%; */
}
video {
  width: 100%;
  margin: 2rem;
}
